@import url('https://fonts.googleapis.com/css?family=Poppins:400,800');

* {
	box-sizing: border-box;
}

.overlay-panel i.fa-hands-praying {
	scale: 1;
}

.overlay-panel.welcome-back i,
h2 {
	margin-right: 4rem;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-family: 'Montserrat', sans-serif;
	height: 100vh;
	margin: -1.2rem 0 3.2rem;
}

h1 {
	font-weight: bolder;
}

p {
	font-size: 14px;
	font-weight: 100;
	letter-spacing: 0.5px;
}

a {
	font-size: 14px;
	text-decoration: none;
}

button {
	border-radius: 8px;
	border: 1px solid #272221;
	background-color: #272221;
	margin: 1rem;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bolder;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: all 0.1s linear;
	font-size: 1rem;
}

button:hover {
	background-color: #41a6e5;
	color: white;
	font-size: 1.1rem;
	border-radius: 50px;
	border: none;
}

form {
	background-color: #FFFFFF;
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-direction: column;
	text-align: center;
}

input {
	background-color: #eee;
	border: none;
	width: 100%;
}

.container {
	background-color: #fff;
	border-radius: 10px;
	position: relative;
	overflow: hidden;
	max-width: 100%;
	min-height: 480px;
}

.form-heading {
	margin-top: 1.34rem;
}

.form-container {
	position: absolute;
	top: 0;
	height: 100%;
}

.log-in-container {
	z-index: 99;
	right: 2rem;
}


.overlay-container {
	left: 0;
	position: absolute;
	top: 0;
	left: 50%;
	width: 50%;
	height: 100%;
}


.overlay {
	color: #FFFFFF;
	position: relative;
}

.overlay-panel {
	position: absolute;
	display: flex;
	justify-content: center;
	flex-direction: column;
	height: 100%;
	width: 50%;
}

.overlay-panel i {
	color: white;
	font-size: 4rem;
}


.iconStyle {
	transition: 0.3s all linear;
}

.iconStyle:hover {
	scale: 1.2;
	cursor: pointer;
}

input:focus::-webkit-input-placeholder {
	opacity: 0;
}